.alerts-page {
    display: flex;

    .side-menu {
        height: calc(100vh - 50px);
        width: 300px;
        border-right: 1px solid #ccc;
        padding: 20px;
        position: sticky;
        top: 50px;
        left: 0;
    }

    .content {
        flex: 1;
        padding: 20px;
    }

}